body {
    background-color: #000000;
    color: white;
    text-shadow: 2px 2px 6px #000000;
    text-align: center;
    font-size: 50px;
    font-family: "Roboto Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;

    animation: gradientAnimation 7s ease infinite;
    background: radial-gradient(circle, rgb(88, 88, 88) 0%, rgb(47, 47, 47) 35%,  rgb(0, 0, 0) 65%);
    background-size: 300% 300%;

    user-select: none;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.trail {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #666666;
    pointer-events: none;
    transition: transform 0.2s ease, opacity 0.5s ease;
    user-select: none;
}
